.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card {
    transition: .4s;
}


.nav-link {
    transition: .4s
}

.nav-link:hover {
    color: #fff !important;
    background-color: #63639b;
    border-color: #63639b;
}